/*No funca nada, posiblemente por las configuraciones de bootstrap*/
#album-container {
    display: grid !important;
    grid-template-columns: repeat(autofit, minmax(100px, 1fr)) !important;
    gap: 10px;
}

.card {
    max-height: fit-content;
}